/* Main CSS file for Pokeguess */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap");

:root {
    --image-size: 475px;
}

body {
    /* background: rgb(230, 230, 230); */
    height: 100%;
    margin: 0;
    background: radial-gradient(
        circle,
        rgb(229, 229, 229) 20%,
        rgb(127, 127, 127) 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 400px;
}

.pokemon {
    width: var(--image-size);
    height: var(--image-size);
    filter: brightness(0) opacity(0);
    transition: filter 0.7s ease-out;
}

.pokemon-name {
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    filter: opacity(0);
    transition: 0.5s ease-out;
}

.interact {
    margin-top: 20px;
    text-align: center;
}

.btn-group {
    margin-top: 40px;
}

/* button {
    text-transform: uppercase;
    background-color: rgb(62, 62, 62);
    border-radius: 8px;
    border-width: 0;
    color: #dcdcdc;
    cursor: pointer;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding: 12px 20px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color: rgba(130, 130, 130, 1);
    color: rgba(242, 242, 242, 1);
}

button:active {
    transform: scale(0.98);
} */

.reveal {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    border: 10px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #ff00ea;
    background-image: linear-gradient(
        45deg,
        #f64f59 0%,
        #dc538a 51%,
        #f64f59 100%
    );
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.reveal:hover {
    color: #fff;
    text-decoration: none;
}

.reveal:active {
    transform: scale(0.95);
}

.next-btn {
    margin: 10px;
    padding: 13px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-color: transparent;
    color: none;
    border-radius: 10px;
    border: dotted 2px;
    font-size: 16px;
    font-weight: 700;
    /* background-image: linear-gradient(45deg, #494949 0%, #8e8e8e 100%); */
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
