/* Main CSS file for Pokeguess */
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital@0;1&display=swap");

:root {
    --image-size: 475px;
}

body {
    background: rgb(230, 230, 230);
}

.container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pokemon {
    width: var(--image-size);
    height: var(--image-size);
    filter: brightness(0) opacity(0);
    transition: 0.8s ease-out;
}

.pokemon-name {
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    filter: opacity(0);
    transition: 0.8s ease-out;
}

.interact {
    margin-top: 20px;
    text-align: center;
}

.btn-group {
    margin-top: 40px;
}

button {
    text-transform: uppercase;
    background-color: rgb(62, 62, 62);
    border-radius: 8px;
    border-width: 0;
    color: #dcdcdc;
    cursor: pointer;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    margin: 0;
    padding: 12px 20px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-color: rgba(130, 130, 130, 1);
    color: rgba(242, 242, 242, 1);
}

button:active {
    transform: scale(0.98);
}
